<!--
  Generated template for the ClientPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>
  
    <ion-card *ngFor="let item of cards | async">
  
      <ion-item>
        <ion-avatar item-left>
          <img src="http://placehold.it/40x40" />
        </ion-avatar>
  
        <h2>{{ item.val().merchant.name }}</h2>
        <p>{{item.val().promo.name}} </p>
      </ion-item>
  
      <ion-card-content class="card-bg">
        <ion-row [style.min-height]="100">
          <ion-col></ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div right class="card-number">{{item.val().number}}</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>Válido até: {{item.val().promo.dueto | date: 'dd/MM/yyyy'}}</ion-col>
        </ion-row>
      </ion-card-content>
  
      <ion-card-content>
        {{item.val().promo.description}}
      </ion-card-content>
  
      <ion-row>
        <ion-col col-9>
          <progress-bar [progress]="item.val().current/item.val().promo.stamps* 100"></progress-bar>
        </ion-col>
        <ion-col>
          {{item.val().current}} de {{item.val().promo.stamps}}
        </ion-col>
      </ion-row>
  
    </ion-card>
  
    <ion-fab right bottom>
      <button ion-fab (click)="scan()"><ion-icon name="qr-scanner"></ion-icon></button>
    </ion-fab>
  
  </ion-content>