page-client {
    .card-bg {
        background-image: url('../../assets/img/card-bg.jpg');
    }
    
    .card-number{
        right: 10px;
        font-weight: bold;
        font-size: 24px;
    }
}

