<ion-header no-border>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button icon-only color="light"><ion-icon name="arrow-back"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

