<ion-slides pager="true" parallax="true" padding>
    <ion-slide>
      <span padding>Quantas carimbadas para receber o benefício?</span>
      <ion-item>
        <ion-input type="number" [(ngModel)]="promo.stamps" name="stamps"></ion-input>
      </ion-item>
      <button padding ion-button round outline (click)="next()">Próximo</button>
    </ion-slide>

    <ion-slide>
      <span padding>Agora dê um nome para essa promoção.</span>
      <ion-item>
        <ion-input type="text" [(ngModel)]="promo.name" name="name"></ion-input>
      </ion-item>
      <button ion-button round outline (click)="next()">Próximo</button>
    </ion-slide>

    <ion-slide>
      <span padding>Descreva os benefícios que seus clientes terão ao frequentar seu estabelecimento.</span>
      <ion-item>
        <ion-textarea type="text" [(ngModel)]="promo.description" name="description"></ion-textarea>
      </ion-item>
      <button padding ion-button round outline (click)="next()">Próximo</button>
    </ion-slide>

    <ion-slide>
      <span padding>Até quando essa promoção é válida?</span>
      <ion-item>
        <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="promo.dueto" name="dueto"></ion-datetime>
      </ion-item>
      <button ion-button round  type="submit"  (click)="createPromo()" block>Criar</button>
    </ion-slide>

</ion-slides>