<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>

  <ion-item>
    <ion-label floating> Email Address</ion-label>
    <ion-input type="text" [(ngModel)]="user.email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label floating>Password</ion-label>
    <ion-input type="password" [(ngModel)]="user.password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-row>
      <ion-col >
        <button ion-button (click)="loginWithPassWord()" class="button-block">Login</button>
      </ion-col>
      <ion-col>
        <button ion-button color="light" (click)="register()" class="button-block">Register</button>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col>
        <button ion-button (click)="signInWithGoogle()" class="google-sign-in button button-block loginBtn loginBtn--google" >Login with Google+</button>
      </ion-col>
      <ion-col>
        <button ion-button (click)="signInWithFacebook()" class="google-sign-in button button-block loginBtn loginBtn--facebook" >Login with Facebook</button>
      </ion-col>
    </ion-row>


  </ion-item>

</ion-content>