<ion-content>
  <ion-slides pager="true" parallax="true" padding>

    <ion-slide>
      <span padding>Escolha como você vai usar o app</span>
      <ion-row>
        <ion-col>
          <button  ion-button large outline round (click)="chooseMerchant()">Sou dono de um negócio</button>
        </ion-col>
        <ion-col>
            <button ion-button large outline round (click)="chooseClient(false)">Sou um cliente</button>
        </ion-col>
      </ion-row>
    </ion-slide>

    <ion-slide>
      <h1>Get started now!</h1>
      <button ion-button outline small (click)="navHome()">
        Start using the app
      </button>
    </ion-slide>

  </ion-slides>
</ion-content>