
<ion-content padding>
  
    <ion-card *ngFor="let item of cards | async">
  
      <ion-item>
        <ion-avatar item-left>
          <img src="http://placehold.it/40x40" />
        </ion-avatar>
  
        <h2>{{item.name}}</h2>
        <p></p>
      </ion-item>
  
      <ion-card-content>
        <ion-row [style.min-height]="100">
          <ion-col>{{item.description}}</ion-col>
        </ion-row>
       
        <ion-row>
          <ion-col>Válido até: {{item.dueto | date : 'dd/MM/yyyy'}} </ion-col>
        </ion-row>
      </ion-card-content>
  
      <ion-card-content>
       
      </ion-card-content>
  
      <ion-row>
        <ion-col>
            <button ion-button  block (click)="showQrCode(item)"><ion-icon  name="barcode"></ion-icon></button>
        </ion-col>
        <ion-col>
            <button ion-button block color="secondary" (click)="validatePromo(item)"><ion-icon  name="qr-scanner"></ion-icon></button>
        </ion-col>
  
      </ion-row>
  
    </ion-card>
  
    <ion-fab right bottom>
      <button ion-fab (click)="addPromo()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
  
  </ion-content>