
<ion-card>
    <ion-card-header>
        Leia o código
    </ion-card-header>

    <ion-card-content>
        <ion-row>
            <ion-col>
                 <qr-code [value]="qrdata" [size]="250" [level]="'M'"></qr-code>
            </ion-col>
        </ion-row>
       <ion-row>
           <ion-col>
               <button ion-button round block color="secondary" (click)="dimiss()" >Fechar</button>
           </ion-col>
       </ion-row>
        
    </ion-card-content>
</ion-card>
